<div style="width: 80%" class="center-block">
  <header>
    <a ui-sref="todos">
      <img src="images/home.png" class="home-icon pull-left" alt=""/>
    </a>
    <h2 class="text-center">Id: {{vm.todo.id}} item list</h2>
    <br/>
    <form name="addItemForm" class="view" ng-submit="vm.addItem();">
      <input class="title-input" type="text" name="item" placeholder="What needs to be done?" ng-model="title" required/>
    </form>
  </header>
  <section class="task">
    <h5>Items:</h5>
    <ul class="todo-item-list list-no-bullet">
      <li class="item" ng-repeat="item in vm.todo.items">
        <button class="remove-icon-small" ng-click="vm.removeItem($index);"></button>
        <input style="margin-right: 10px" type="checkbox" ng-model="item.completed"/>
        <span class="status-indicator complete" ng-if="item.completed"></span>
        <span class="status-indicator in_progress" ng-if="!item.completed"></span>
        <span class="description">{{item.title}}</span>
      </li>
    </ul>
  </section>
</div>

